<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="responsiveness.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/beeb7add79.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="header">
      <div id="nav">
        <div class="nav-link" href="">Link1</div>
        <div class="nav-link" href="">Link2</div>
        <div class="nav-link" href="">Link3</div>
      </div>
      <div id="header-content">
        <div id="header-title">
          Event Name
        </div>
        <div id="header-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante.
        </div>
      </div>
    </div>
    <div id="page-content">
      <div id="intro-container">
        <div id="intro-title">This is Event Name</div>
        <div id="intro-desc">
          <div id='intro-img'></div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante.
        </div>
        
      </div>
      <img id="event-poster" src="">
      <div id="details-container">
        <div id="details-title">Event Details</div>
        <div id="details-cards-container">
          <div class = 'details-card'>
            <div class="details-title">Detail Name</div>
            <div class="details-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
          tempus ante.
            </div>
          </div>
          <div class='details-card'>
            <div class="details-title">Detail Name</div>
            <div class="details-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
              tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in,
              pellentesque
              tempus ante.
            </div>
          </div>
          <div class='details-card'>
            <div class="details-title">Detail Name</div>
            <div class="details-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
              tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in,
              pellentesque
              tempus ante.
            </div>
          </div>
          <div class='details-card'>
            <div class="details-title">Detail Name</div>
            <div class="details-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
              tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in,
              pellentesque
              tempus ante.
            </div>
          </div>
          <div class='details-card'>
            <div class="details-title">Detail Name</div>
            <div class="details-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
              tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in,
              pellentesque
              tempus ante.
            </div>
          </div>
          <div class='details-card'>
            <div class="details-title">Detail Name</div>
            <div class="details-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in, pellentesque
              tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor lectus, placerat eu nisi in,
              pellentesque
              tempus ante.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <img id="footer-logo" src="assets\logo.jpg">
      <div id="footer-copyright">
        Copyright &copy;2023 IIT Mandi.
      </div>
    </div>

    <script src="script.js"></script>
  </body>

</html>