@media (max-width: 700px) {
  #header-subtitle {
    font-size: 1rem;
  }

  #intro-img {
    display: none;
  }

  #intro-title {
    font-size: 40px;
  }

  #details-title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .details-card {
    width: 100%;
  }
}